body {
  color: #fff;
  background: #000000;
  text-align: center;
}

#start {
  margin: 40px auto;
  text-align: center;
  color: #dad6d6;
  font-size: 18px;
  font-weight: bold;
  background: #59d95b;
  border: solid 2px #35492c;
  border-radius: 5px;
  padding: 16px 40px 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

#stop {
  margin: 40px 5px auto;
  text-align: center;
  color: #dad6d6;
  font-size: 18px;
  font-weight: bold;
  background: #e30e27;
  border: solid 2px #590f20;
  border-radius: 5px;
  padding: 16px 40px 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

#clear {
  margin: 40px auto;
  text-align: center;
  color: #dad6d6;
  font-size: 18px;
  font-weight: bold;
  background: #564e58;
  border: solid 2px #3e383f;
  border-radius: 5px;
  padding: 16px 40px 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 50%;
  text-align: center;
  justify-content: center;
  border: 2px solid saddlebrown;
  border-radius: 5px;
  box-shadow: 5px 10px #fff;
}

.timer {
  color: #dcf53b;
}

h2 {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 200px 0 0;
}
